.hidden {
  display: none;
}

.btn-container {
  display: flex;
  justify-content: center;
}

/* .open-modal {
  display: inline-block;
  margin: 10px 20px;
  width: 150px;
  height: 100px;
  background-color: #aaa;
  cursor: pointer;
} */
